.ICEauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.gnupg/
.local/
.mozilla/
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.thunderbird/
.vscode/
Documents/
Downloads/
b.txt
bar/
foo/
index.html
packages/
script.js
snap/
style.css
test.txt
git_test

